<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="css/app.css">
        <title>TwittMap</title>
        <style>
          /* Always set the map height explicitly to define the size of the div
           * element that contains the map. */
          #app, #map {
            height: 100%;
          }
          /* Optional: Makes the sample page fill the window. */
          html, body {
            height: 100%;
            margin: 0;
            padding: 0;
          }
        </style>
    </head>
    <body>
        <div id="app">
            <div id="map"></div>
            <!-- <router-view></router-view> -->
        </div>
        <script src="/js/app.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD2eDb_LLkCZNOWPNfH3ThIXLlIfkoB3cQ&callback=app.initMap" async defer></script>
    </body>
</html>