html, body, #app, #content {
    height: 100%;
    margin: 0;
    padding: 0;
}

#panel {
    height: 100%;
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}

#search-box {
    flex-shrink: 0;
    display: flex;
}

#tweet-list {
    flex-grow: 1;
    overflow-y: auto;
}